/* fontface of all formats of Avenir Next */
/* regular */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Regular'),
        local('AvenirNext-Regular'),
        local('Avenir Next'),
        url('/fonts/AvenirNextRegular.woff2') format('woff2'),
        url('/fonts/AvenirNextRegular.woff') format('woff'),
        url('/fonts/AvenirNextRegular.ttf') format('truetype'),
        url('/fonts/AvenirNextRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Italic'),
        local('AvenirNext-Italic'),
        local('Avenir Next'),
        url('/fonts/Avenir Next Italic.woff2') format('woff2'),
        url('/fonts/Avenir Next Italic.woff') format('woff'),
        url('/fonts/Avenir Next Italic.ttf') format('truetype'),
        url('/fonts/Avenir Next Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* ultra light */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Ultra Light'),
        local('AvenirNext-UltraLight'),
        local('Avenir Next'),
        url('/fonts/Avenir Next Ultra Light.woff2') format('woff2'),
        url('/fonts/Avenir Next Ultra Light.woff') format('woff'),
        url('/fonts/Avenir Next Ultra Light.ttf') format('truetype'),
        url('/fonts/Avenir Next Ultra Light.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}
/* ultra light italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Ultra Light Italic'),
        local('AvenirNext-UltraLightItalic'),
        local('Avenir Next'),
        url('/fonts/AvenirNextUltraLightItalic.woff2') format('woff2'),
        url('/fonts/AvenirNextUltraLightItalic.woff') format('woff'),
        url('/fonts/AvenirNextUltraLightItalic.ttf') format('truetype'),
        url('/fonts/AvenirNextUltraLightItalic.svg') format('svg');
    font-weight: 200;
    font-style: italic;
}
/* light */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Light'),
        local('AvenirNext-Light'),
        local('Avenir Next'),
        url('/fonts/AvenirNextLight.woff2') format('woff2'),
        url('/fonts/AvenirNextLight.woff') format('woff'),
        url('/fonts/AvenirNextLight.ttf') format('truetype'),
        url('/fonts/AvenirNextLight.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
/* light italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Light Italic'),
        local('AvenirNext-LightItalic'),
        local('Avenir Next'),
        url('/fonts/AvenirNextLightItalic.woff2') format('woff2'),
        url('/fonts/AvenirNextLightItalic.woff') format('woff'),
        url('/fonts/AvenirNextLightItalic.ttf') format('truetype'),
        url('/fonts/AvenirNextLightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}
/* medium */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Medium'),
        local('AvenirNext-Medium'),
        local('Avenir Next'),
        url('/fonts/AvenirNextMedium.woff2') format('woff2'),
        url('/fonts/AvenirNextMedium.woff') format('woff'),
        url('/fonts/AvenirNextMedium.ttf') format('truetype'),
        url('/fonts/AvenirNextMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
/* medium italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Medium Italic'),
        local('AvenirNext-MediumItalic'),
        local('Avenir Next'),
        url('/fonts/Avenir Next Medium Italic.woff2') format('woff2'),
        url('/fonts/Avenir Next Medium Italic.woff') format('woff'),
        url('/fonts/Avenir Next Medium Italic.ttf') format('truetype'),
        url('/fonts/Avenir Next Medium Italic.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}
/* demi */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Demi Bold'),
        local('AvenirNext-DemiBold'),
        local('Avenir Next'),
        url('/fonts/AvenirNextDemiBold.woff2') format('woff2'),
        url('/fonts/AvenirNextDemiBold.woff') format('woff'),
        url('/fonts/AvenirNextDemiBold.ttf') format('truetype'),
        url('/fonts/AvenirNextDemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
/* demi italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Demi Bold Italic'),
        local('AvenirNext-DemiBoldItalic'),
        local('Avenir Next'),
        url('/fonts/AvenirNextDemiBoldItalic.woff2') format('woff2'),
        url('/fonts/AvenirNextDemiBoldItalic.woff') format('woff'),
        url('/fonts/AvenirNextDemiBoldItalic.ttf') format('truetype'),
        url('/fonts/AvenirNextDemiBoldItalic.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}
/* bold */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Bold'),
        local('AvenirNext-Bold'),
        local('Avenir Next'),
        url('/fonts/AvenirNextBold.woff2') format('woff2'),
        url('/fonts/AvenirNextBold.woff') format('woff'),
        url('/fonts/AvenirNextBold.ttf') format('truetype'),
        url('/fonts/AvenirNextBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* bold italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Bold Italic'),
        local('AvenirNext-BoldItalic'),
        local('Avenir Next'),
        url('/fonts/Avenir Next Bold Italic.woff2') format('woff2'),
        url('/fonts/Avenir Next Bold Italic.woff') format('woff'),
        url('/fonts/Avenir Next Bold Italic.ttf') format('truetype'),
        url('/fonts/Avenir Next Bold Italic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}
/* heavy */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Heavy'),
        local('AvenirNext-Heavy'),
        local('Avenir Next'),
        url('/fonts/Avenir Next Heavy.woff2') format('woff2'),
        url('/fonts/Avenir Next Heavy.woff') format('woff'),
        url('/fonts/Avenir Next Heavy.ttf') format('truetype'),
        url('/fonts/Avenir Next Heavy.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
/* heavy italic */
@font-face {
    font-family: 'Avenir Next';
    src:
        local('Avenir Next Heavy Italic'),
        local('AvenirNext-HeavyItalic'),
        local('Avenir Next'),
        url('/fonts/AvenirNextHeavyItalic.woff2') format('woff2'),
        url('/fonts/AvenirNextHeavyItalic.woff') format('woff'),
        url('/fonts/AvenirNextHeavyItalic.ttf') format('truetype'),
        url('/fonts/AvenirNextHeavyItalic.svg') format('svg');
    font-weight: 900;
    font-style: italic;
}
